<div>
    <form class="form-horizontal table-responsive">
        <div>
            <select class="form-control" ng-model="filter_serie">
                <option ng-repeat="o in series" value="{{o.id}}">{{o.name}}</option>
            </select>
            <input class="form-control" ng-model="search"/>
            <select class="form-control" ng-model="orderBy">
                <option id="sellingDate">Date de sortie</option>
                <option id="name">Nom</option>
                <option id="number">Numéro</option>
                <option id="state">Statut</option>
            </select>
        </div>
        <table class="table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Amiibo</th>
                    <th>Photo</th>
                    <th>Date de sortie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in amiibo | orderBy: e.sellingDate">
                    <td>{{e.number}}</td>
                    <td><label class="label">{{e.name}}</label></td>
                    <td><img ng-src="images/amiibo/{{e.serie_acronym}}/{{e.name | sluggifier}}.jpg" width="45" height="51"/></td>
                    <td>{{e.sellingDate}}</td>
                    <td>
                        <select>
                            <option ng-repeat="o in options" value={{$index}}"  ng-if="$index <= 2 || e.out">{{o}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Valider"/>
    </form>
</div>