<div>
    <form class="form-horizontal table-responsive">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Amiibo</th>
                    <th>Photo</th>
                    <th>Date de sortie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in amiibo | orderBy: 'e.number'">
                    <td>{{e.number.length == 1 ? '0' + e.number: e.number}}</td>
                    <td><label class="label">{{e.name}}</label></td>
                    <td></td>
                    <td>{{e.sellingDate}}</td>
                    <td ng-if="e.out">
                        <select>
                            <option ng-repeat="o in options" value={{$index}}">{{o}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Valider"/>
    </form>
</div>